h1 {color: rgb(0, 80, 47);}
h2 {color: rgb(0, 80, 47);}
p {color: rgb(120, 238, 234);}

body {
    background-color: rgb(247, 151, 175);
    font-family: Arial, sans-serif;
    text-align: center;
}
.board {
    display: inline-block;
    margin: 20px;
}
.cell {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(173, 0, 87);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;

    /* Default color for unrevealed tiles */
    background-color: rgb(5, 172, 149);

    /* Default color for unrevealed tile text */
    color: rgb(0, 89, 255);
}
.revealed {
    /* Color for revealed tiles */
    background-color: rgb(255, 255, 65);

    /* Color for revealed tile text */
    color: rgb(0,0,0);
}
.cat {
    /* Color for cats */
    background-color: rgb(255, 44, 44);
}
.catImg{
    width: 100%;
    height: 100%;
}