body {background-color: rgb(247, 151, 175);}
h1 {color: rgb(0, 80, 47);}
h2 {color: rgb(0, 80, 47);}
p {color: rgb(120, 238, 234);}

.box{
    height: 300px;
    width: 300px;
    padding: 20px;
    margin: 50px;
    border: 10px solid rgb(0,0,0);
    background-color: rgb(155, 20, 54);
}